<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ivosilva.nomi" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nfc.NFCShareActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_nfc"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.MenuActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".registration.RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".nfc.NFCConnectedActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".contacts.ContactActivity"
            android:label="@string/title_activity_profiles"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".contacts.ContactDetailsActivity"
            android:label="@string/title_activity_contact_details"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".profiles.ProfileActivity"
            android:label="@string/title_activity_profiles"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".profiles.ProfileDetailsActivity"
            android:label="@string/title_activity_profiles_detail"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
